{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Newcastle Community Pantry {% endblock %}</h1>

    <div class="blue-panel">
        <h2 class="blue-panel-header"> Socials </h2>
            <div class="blue-panel-content">
                <a class="twitter-timeline" data-width="600" data-height="500" href="https://twitter.com/NewcastlePantry?ref_src=twsrc%5Etfw">Tweets by NewcastlePantry</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="blue-panel-content">
                <div class="fb-page" data-href="https://www.facebook.com/NewcastleCommunityPantry" data-tabs="timeline" data-width="600" data-height="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/NewcastleCommunityPantry" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/NewcastleCommunityPantry">Newcastle Community Pantry</a></blockquote></div>
            </div>
            <h2 class="blue-panel-header"> Where we are </h2>
            <div class="blue-panel-content">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1619.201230397562!2d-1.6283875613913583!3d54.9749169937369!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487e773616cc057d%3A0xd0cdb6a793b54927!2sNUCASTLE%20-%20Newcastle%20United%20Foundation!5e0!3m2!1sen!2suk!4v1716238596595!5m2!1sen!2suk" width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
    </div>

    <!-- Request Info Button-->
    <form action="/request_info" method="get">
        <button type="submit" class="request-info-btn">Reload Items</button>
    </form>

    {% if products is defined %}
        {% if products %}
            <h2>Products below required stock level: </h2>
            <table>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Current Stock</th>
                        <th>Required Stock</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.product }}</td>
                            <td>{{ product.stock }}</td>
                            <td>{{ product.required_level }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No products are currently low in stock.</p>
        {% endif %}
    {% endif %}

    <div class="black-text-box">
        Newcastle Community Pantry @ Blakelaw Community Centre opened in April 2023 and was set up to help local residents save money on their weekly food shop.
        Members pay £5 each time they visit and in return have a choice of fresh fruit and vegetables, chilled items such as fresh milk, cheese, butter and meats, cupboard staples such as tinned foods, rice, pasta, cooking sauces, tea, coffee, sugar, breakfast cereals, laundry powder and fabric softener, cleaning items and other essential household items.
    </div>

    <div class="black-text-box">
        Pantry members now save £21 on groceries, each time they use the Pantry, meaning regular members can save more than £1,000 a year.
        But as the title says, Pantries are doing so much more than helping members save money.
        They are bringing people together around food. They are strengthening community cohesion. They are reducing isolation and improving physical and mental health. They are creating opportunities and hope, and loosening the grip of poverty in people’s lives. Here are just three of the many uplifting comments from Pantry members quoted in the report:
    </div>

{% endblock %}
