body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
}
/* Navigation Bar Styling */
.navbar {
    background-color: #000000;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    font-family: 'Inter', sans-serif;
}

.navbar a {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    position: relative;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s ease;
}

.navbar a:hover::after {
    width: 100%;
}

.btn-link {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-decoration: none;
    color: #000000;
    background-color: #000000;
    border-color: #000000;
}

/* Header Styling */

h1 {
    width: 400px;
    height: 30px;
    color: #000000;
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    border-bottom: 2px solid #000000;
}

/* Blue Panel */
.blue-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100vh;
    background-color: #1644b9;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    color: #ffffff;
}

.blue-panel-content {
    width: 100%;
    height: 200px;
    margin-bottom: 310px;
    margin-top: 50px;
}

.blue-panel-header {
    width: 70%;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
    margin: 70px auto 20px auto;
    border-bottom: 2px solid white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

/* Request Info in Home Page */
.request-info-btn {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    padding: 10px 20px;
    margin: 20px 420px;
    display: block;
    background: linear-gradient(135deg, #1644b9, #1a53d2);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    font-weight: 500;
}

.request-info-btn:hover {
    background: linear-gradient(135deg, #1a53d2, #1644b9); /* Reverse gradient when hover*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05); /* Enlarge when hover*/
}

.request-info-btn:active {
    background: linear-gradient(135deg, #1632b9, #1a45d2); /* Darker gradient when active */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(0.98);
}

.request-info-btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(22, 68, 185, 0.5); /* Focus outline for accessibility */
}

/* Information */
.black-text-box {
    border: 2px solid black;
    background-color: #f9f9f9;
    padding: 20px;
    margin: 30px 47px;
    width: 60%;
    text-align: justify;
    border-radius: 10px; /* Rounded corners  */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Inter', sans-serif;
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
}

.black-text-box h5 {
    color: black;
    margin: 0 0 10px 0;
    padding-top: 10px;
    text-align: left;
    font-size: 25px;
    border-bottom: 2px solid #000000; /* Underline */
}


/* Table Styling */
.info-table {
    width: 60%;
    margin: 0 60px;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.info-table thead {
    background-color: black;
    color: white;
}

.info-table th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

.info-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.info-table tr:nth-of-type(even) { /* Every even nth row will be a darker shade */
    background-color: #f3f3f3;
}

.info-table tbody tr:last-of-type { /* Border at bottom of table */
    border-bottom: 2px solid #000000;
}

.info-table tbody tr:hover { /* Hover effect */
    background-color: #e0e0e0;
    cursor: pointer;
}

.info-table tbody td {
    color: #333;
}


th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #333;
}

tr:hover {
    background-color: #f1f1f1;
}

h2 {
    font-size: 24px;
    color: #333;
    text-align: left;
    margin-left: 250px;
    margin-bottom: 20px;
}

h3 {
    text-align: left;
    margin-left: 100px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

li:last-child {
  border-bottom: none;
}


.info {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.info span {
  margin-right: 20px;
}
.control{
    text-align: center;
    margin: 0 auto;
}

.box{
    text-align: center;
    margin: 0 auto;
}

.input{
  font-size: 16px;
  font-family: Arial, sans-serif;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 10px;
  text-align: center;
  margin: 20px auto 20px 50px;

}

.button{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding: 10px 20px;
    margin: auto;
    display: block;
    background: linear-gradient(135deg, #1644b9, #1a53d2);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    font-weight: 500;
}
/* Accounts Table */
.accounts-table {
    width: 30%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: black;
    border: 2px solid black;
    border-radius: 8px;
    overflow: hidden;
}


.accounts-table th {
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    color: black;
    background-color: #f2f2f2;
}

.accounts-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.accounts-table tr:nth-of-type(even) { /* Every even nth row will be a darker shade */
    background-color: #f3f3f3;
}

.accounts-table tbody tr:last-of-type { /* Border at bottom of table */
    border-bottom: 2px solid #000000;
}

.accounts-table tbody tr:hover { /* Hover effect */
    background-color: #e0e0e0;
    cursor: pointer;
}

.accounts-table tbody td {
    color: #333;
}
.change-pw-btn {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding: 3px 10px;
    margin: 20px auto;
    display: block;
    background: linear-gradient(135deg, #1644b9, #1a53d2);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
}

.change-pw-btn:hover {
    background: linear-gradient(135deg, #1a53d2, #1644b9); /* Reverse gradient when hover*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05); /* Enlarge when hover*/
}

.change-pw-btn:active {
    background: linear-gradient(135deg, #1632b9, #1a45d2); /* Darker gradient when active */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(0.98);
}

.change-pw-btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(22, 68, 185, 0.5); /* Focus outline for accessibility */
}

/* Database Table */
.database-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.database-table thead {
    background-color: black;
    color: white;
}

.database-table th {
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    color: white;
}

.database-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.database-table tr:nth-of-type(even) { /* Every even nth row will be a darker shade */
    background-color: #f3f3f3;
}

.database-table tbody tr:last-of-type { /* Border at bottom of table */
    border-bottom: 2px solid #000000;
}

.database-table tbody tr:hover { /* Hover effect */
    background-color: #e0e0e0;
    cursor: pointer;
}

.database-table tbody td {
    color: #333;
}

.add-product-btn {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding: 4px 8px;
    margin: 20px auto 20px 50px;
    display: inline-block;
    background: linear-gradient(135deg, #1644b9, #1a53d2);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
}

.add-product-btn:hover {
    background: linear-gradient(135deg, #1a53d2, #1644b9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.add-product-btn:active {
    background: linear-gradient(135deg, #1632b9, #1a45d2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(0.98);
}

.add-product-btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(22, 68, 185, 0.5);
}

/* Admin Page */
.welcome-message {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.admin-table {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.admin-table thead {
    background-color: black;
    color: white;
}


.admin-table th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    width: 80%;
}

.admin-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.admin-table tr:nth-of-type(even) { /* Every even nth row will be a darker shade */
    background-color: #f3f3f3;
}

.admin-table tbody tr:last-of-type { /* Border at bottom of table */
    border-bottom: 2px solid #000000;
}

.admin-table tbody tr:hover { /* Hover effect */
    background-color: #e0e0e0;
    cursor: pointer;
}

.admin-table tbody td {
    color: #333;
}

.delete-staff-btn {
    background-color: #ff3860;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;;
    margin-right: 10px;
}

.delete-staff-btn:hover {
    background-color: #ff1744;
    transform: scale(1.05);
}

.delete-staff-btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 56, 96, 0.5);
}

.delete-staff-btn:active {
    background-color: #e00034;
}

.add-admin-btn {
    background-color: #1644b9;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.add-admin-btn:hover {
    background: linear-gradient(135deg, #1a53d2, #1644b9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.add-admin-btn:active {
    background: linear-gradient(135deg, #1632b9, #1a45d2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(0.98);
}

.add-admin-btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(22, 68, 185, 0.5);
}

.add-staff-btn {
    background-color: #1644b9;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.add-staff-btn:hover {
    background: linear-gradient(135deg, #1a53d2, #1644b9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.add-staff-btn:active {
    background: linear-gradient(135deg, #1632b9, #1a45d2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(0.98);
}

.add-staff-btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(22, 68, 185, 0.5);
}


.center-h1 {
    width: auto;
    max-width: calc(50% - 200px);
    height: 30px;
    color: #000000;
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    border-bottom: 2px solid #000000;
    white-space: nowrap;
}

.center-flash {
    width: auto;
    height: 30px;
    text-align: center;
    margin: 0 auto 20px;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: bold;
}

.change-password-btn {
  background-color: #ff3860;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.subsection-header {
    width: 400px;
    height: 25px;
    color: #000000;
    text-align: center;
    padding: 15px;
    margin: 30px auto 10px 300px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    border-bottom: 2px solid #000000;
    white-space: nowrap;
}

.logo {
    flex: 0 0 auto;
    width: 50px;
    height: auto;
    margin-right: 10px; /* Adjust margin as needed */
}

.center-home-h1 {
    width: auto; /* Set a fixed width for the header */
    max-width: calc(100% - 200px); /* Adjust maximum width based on screen size */
    margin: 0 0 0 70px; /* Reset margin */
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    border-bottom: 2px solid #000000;
    white-space: nowrap;
}

.header-content {
    display: flex;
    align-items: center; /* Vertically align items */
    margin-left: 12px;
}

.subheader-is-center {
    width: 400px;
    height: 15px;
    color: #000000;
    text-align: center;
    padding: 15px;
    margin: 0 auto 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    border-bottom: 2px solid #000000;
    white-space: nowrap;
}