{% extends "base.html" %}

<!-- Header -->

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='rng.js') }}"></script>
<h1 class="title is-3">Admin</h1>
<h4 class="subtitle is-4">
    Welcome,  {{ email }}
</h4>

<!-- View User Information -->
<div class="column is-10 is-offset-1">
    <h4 class="title is-4">Users Information</h4>
    <div class="box">
        {% if current_users %}
            <ul>
            {% if message %}
                    <span class="info" style="color: red; font-weight: bold;">    You Cannot Delete Yourself !</span>
            {% endif %}
              {% for user in current_users %}
                <li style="display: flex; align-items: center;">
                  <a href="{{ url_for("admin.delete_user", email=user.email) }}">
                      <button type="submit" name="staff_id" class="delete-staff-btn" value="{{ user.email }}">
                        Delete
                      </button>
                  </a>
                  <span class="info">  - {{ user.email }} , Access level: {{ user.access_level }} </span>

                </li>
              {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
<!-- End of User Information -->

<!-- Register New Admin Button -->
<div class="column is-8 is-offset-2 " id="register-admin">
    <h4 class="title is-4">Add New Admin</h4>
    <h3>
        <button onclick="window.location.href='{{ url_for('admin.add_staff', role="admin") }}'" class="navbar-item" style="background-color: blue; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">
            Add New Admin
        </button>
    </h3>
</div>

<!-- Register New Staff Button -->
<div class="column is-8 is-offset-2 " id="register-staff">
    <h4 class="title is-4">Add New Staff</h4>
    <h3>
        <button onclick="window.location.href='{{ url_for('admin.add_staff', role="user") }}'" class="navbar-item" style="background-color: blue; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">
            Add New Staff
        </button>
    </h3>
</div>

{% endblock %}
<!-- End of View Stock Information-->

