{% extends "base.html" %}

<!-- Header -->

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='rng.js') }}"></script>
<h1 class="title is-3">Admin</h1>
<h4 class="subtitle is-4">
    Welcome,  {{ email }}
</h4>

<!-- View User Information -->
<div class="column is-10 is-offset-1">
    <h4 class="title is-4">Users Information</h4>
    <div class="box">
        {% if current_users %}
            {% if message %}
                    <span class="info" style="color: red; font-weight: bold;">    You Cannot Delete Yourself !</span>
            {% endif %}
            <table class="table is-fullwidth is-striped">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Access Level</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in current_users %}
                        <tr>
                            <td>{{ user.email }}</td>
                            <td>{{ user.access_level }}</td>
                            <td>
                                <a href="{{ url_for("admin.delete_user", email=user.email) }}">
                                <button type="submit" name="staff_id" class="delete-staff-btn styled-delete-btn" value="{{ user.user_id }}">
                                    Delete
                                </button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>


<!-- Register New User Button -->
<div class="column is-8 is-offset-2" id="register-users">
    <h4 class="title is-4">Add New Users</h4>
    <div class="box">
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Admin</td>
                    <td><a href="{{ url_for('admin.add_staff', role='admin') }}" class="button is-primary">Add New Admin</a></td>
                </tr>
                <tr>
                    <td>Staff</td>
                    <td><a href="{{ url_for('admin.add_staff', role='user') }}" class="button is-link">Add New Staff</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
<!-- End of View Stock Information-->

