{% extends "base.html" %}

<!-- Header -->

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='rng.js') }}"></script>
<h1 class="title is-3">Admin</h1>
<h4 class="subtitle is-4">
    Welcome,  {{ email }}
</h4>

<!-- View User Information -->
<div class="column is-10 is-offset-1">
    <h4 class="title is-4">Users Information</h4>
    <div class="box">
        {% if current_users %}
            <ul>
              {% for user in current_users %}
                <li style="display: flex; align-items: center;">
                  <button type="submit" name="staff_id" value="{{ user.user_id }}">
                    Delete
                  </button>
                  <span class="info">  - {{ user.email }} , Access level: {{ user.access_level }} </span>
                </li>
              {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
<!-- End of User Information -->

<!-- Register New Admin Button -->
<div class="column is-8 is-offset-2 " id="register-admin">
    <h4 class="title is-4">Add New Admin</h4>
    <div class="box">
        <a href="{{ url_for('admin.add_staff', role="admin") }}" class="button is-info is-centred">Add New Admin</a>
    </div>
</div>

<!-- Register New Staff Button -->
<div class="column is-8 is-offset-2 " id="register-staff">
    <h4 class="title is-4">Add New Staff</h4>
    <div class="box">
        <a href="{{ url_for('admin.add_staff', role="user") }}" class="button is-info is-centred">Add New Staff</a>
    </div>
</div>

<!-- View Stock Information -->
<div class="column is-8 is-offset-2">
    <h4 class="title is-4">Stocks Information</h4>
    <div class="box">
        {% if current_product %}
            <div class="field">
                <table class="table">
                    <tr>
                        <th>Product ID</th>
                        <th>Product</th>
                        <th>Stock</th>
                        <th>Category</th>
                        <th>Required Level</th>
                    </tr>
                    {% for product in current_product %}
                        <tr>
                            <td>{{ product.product_id }}</td>
                            <td>{{ product.product }}</td>
                            <td>{{ product.stock }}</td>
                            <td>{{ product.category }}</td>
                            <td>{{ product.required_level }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
        <form action="/view_stock_information">
            <div>
                <button id="viewStockInformation" class="button is-info is-centered">View Stock Information</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
<!-- End of View Stock Information-->

