<!-- Written by Daniel Cook, Daniel Ellam, Megat Aiman, Asha Smeaton, Najihah Azman -->
{%  extends "base.html" %}

{% block content %}
<!-- Header -->
    <div class="column is-6 is-offset-3">
        <h1 class="center-h1">{% block title %} Add Product {% endblock %}</h1>
<!-- Accept input to add products to the database -->
    <div class="box"></div></div>
        <form method="POST">
            <!-- Accept input for Product Name -->
            <div class="field">
                {{  form.csrf_token() }}
                <div class = "control">
                    {{ form.name(class="center-input", placeholder="Product Name") }}
                    {% for error in form.name.errors %}
                        <div class="center-flash">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Accept input for Stock Level -->
            <div class="field">
                <div class = "control">
                    {{ form.stock(class="center-input", placeholder="Stock Level") }}
                    {% for error in form.stock.errors %}
                        <div class="center-flash">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Accept input for Category of the item-->
            <div class="field">
                <div class = "control">
                    {{ form.category(class="center-input", placeholder="Category (food/hygiene)") }}
                    {% for error in form.category.errors %}
                        <div class="center-flash">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Accept input for Required Stock Level -->
            <div class="field">
                <div class = "control">
                    {{ form.required_stock(class="center-input", placeholder="Required Stock Level") }}
                    {% for error in form.required_stock.errors %}
                        <div class="center-flash">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="box">
                {{  form.submit(class="add-btn") }}
            </div>
        </form>

{%  endblock %}