{% extends "base.html" %}

{% block content %}

    <div class="column is-6 is-offset-3">
        <h1>{% block title %} Database {% endblock %}</h1>
        <input type="text" class="input" placeholder="Search" name="search_string" hx-get="/query" hx-trigger="keyup changed delay:500ms" hx-target="#results">
        <table class="table-is-full-width">
            <tbody>
                <tr>
                    <th>Product Name</th>
                    <th>Add Stock</th>
                    <th>Current Stock</th>
                    <th>Remove Stock</th>
                    <th>Reorder Level</th>
                    <th>Category</th>
                </tr>
            </tbody>
            <tbody id="results">
            </tbody>
        </table>
    </div>

{% endblock %}